# URL_DATABASE = "postgres database url with user, password, host, port and dbName"
URL_DATABASE=postgresql://{user}:{password}@{host}:{port}/{dbName}
BASE_DIR="base/dir/used/in/project/for/storage"
SERVICE_HOST=0.0.0.0
SERVICE_PORT=8001
SERVICE_REFRESH=false
MTLS_ENABLED=true
SSL_REQUIRE_CLIENT_CERT=true
SSL_CA_FILE=/home/pebsi/harsh/PebSI/certs/ca/ca.crt
SSL_CERT_FILE=/home/pebsi/harsh/PebSI/certs/yolov12/server.crt
SSL_KEY_FILE=/home/pebsi/harsh/PebSI/certs/yolov12/server.key

SECURITY_BLOCKED_USER_AGENTS=httpx,postman,wget,insomnia,libwww,java